<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) RUBICON IT GmbH

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. 

See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program; if not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rubicon.PdfService.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rubicon.PdfService.Settings>
            <setting name="RgbIccProfilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RbIccProfileName" serializeAs="String">
                <value>sRGB IEC61966-2.1</value>
            </setting>
        </Rubicon.PdfService.Settings>
    </applicationSettings>
</configuration>