<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) RUBICON IT GmbH

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License version 3
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. 

See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program; if not, see <http://www.gnu.org/licenses/>.
-->
<packages>
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2023.3.0" targetFramework="net48" />
  <package id="Rubicon.iTextSharp" version="5.5.13.4" targetFramework="net48" />
  <package id="Rubicon.itextsharp.pdfa" version="5.5.13.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CommandLine" version="2.0.0-beta4.22272.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>